@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --cl-gray-m1: rgba(255, 255, 255, 0.13);
  --bg-input: #eee;

  --bg-white: #fff;
  --bg-gray: #eee;
  --bg-black: #000;
  --bg-darkPurple: #25003e;
  --bg-purple: #7a5af8;
  --bg-lightPurple: #DF71FFCC;
  --bg-darkBlue: #05071b;
  --bg-navyBlue: #040b11;
  --bg-lightBlue: #798DA3;
  --bg-darkGray: #1E2835;
  --bg-darkGray2: #141b22;

  --cl-white: #fff;
  --cl-gray: #eee;
  --cl-black: #000;
  --cl-darkPurple: #25003e;
  --cl-purple: #7a5af8;
  --cl-lightPurple: #DF71FFCC;
  --cl-darkBlue: #05071b;
  --cl-navyBlue: #040b11;
  --cl-lightBlue: #798DA3;
  --cl-darkGray: #1E2835;
  --cl-darkGray2: #141b22;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#__next {
  height: 100vh;
}

.antialiased {
  height: 100%;
}

/* Custom scrollbar for Chrome, Safari, and Edge */
::-webkit-scrollbar {
  width: 8px; /* Width of the vertical scrollbar */
  height: 8px; /* Height of the horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: var(--bg-darkGray2); /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: var(--bg-purple); /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--cl-lightPurple); /* Color of the scrollbar thumb on hover */
}

/* Custom scrollbar for Firefox */
html {
  scrollbar-width: thin; /* Can be 'auto' or 'thin' */
  scrollbar-color: var(--bg-purple) var(--bg-darkGray2); /* Thumb color and track color */
}

body {
  transition: background-color 0.3s ease, color 0.3s ease;
  height: 100%;
  background-color: var(--bg-darkBlue);
  color: var(--bg-white);
}

.app {
  width: 100%;
  height: 100%;
}

img {
  width: 100%;
  display: block;
}

main aside {
  flex-shrink: 0.25;
}

.btn-search {
  background-color: black;
  color: white;
  box-shadow: inset 0 0 7px rgb(0, 0, 0);
  width: 15%;
  height: 100%;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.change-background {
  font-size: 1.25rem;
  background-color: rgb(44, 0, 80);
  color: yellow;
}

#particles canvas {
  z-index: -1;
  height: 100%;
  width: 100%;
  position: absolute;
}

.bg-img {
background-color: var(--bg-darkGray2);
}

.lightMod {
  background-color: var(--bg-gray);
}

.input {
  background-color: #05071b;
  width: 391px;
  height: 56px;
  color: var(--cl-purple);
  padding-inline: 59px;
}

.input::placeholder {
  color: var(--cl-purple);
}

.input:focus {
  outline: none;
}

#cosmic-glow {
  pointer-events: none;
  width: 30px;
  height: 20px;
  position: absolute;
  background: var(--bg-purple);
  top: 10px;
  left: 5px;
  filter: blur(20px);
  opacity: 0.8;
  transition: all 2s;
}

#main:hover>#cosmic-glow {
  opacity: 0;
}

.stardust {
  max-width: 400px;
  border-radius: 10px;
  filter: blur(2px);
}

.stardust::before {
  content: "";
  z-index: -2;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(83deg);
  position: absolute;
  width: 600px;
  height: 600px;
  background-repeat: no-repeat;
  background-position: 0 0;
  filter: brightness(1.4);
  background-image: conic-gradient(rgba(0, 0, 0, 0) 0%, 
      #4d6dff 
      rgba(0, 0, 0, 0) 8%,
      rgba(0, 0, 0, 0) 50%,
      #6e8cff
      rgba(0, 0, 0, 0) 58%);
  transition: all 2s;
}

.cosmic-ring {
  max-height: 59px;
  max-width: 395px;
  border-radius: 11px;
  filter: blur(0.5px);
}

.cosmic-ring::before {
  content: "";
  z-index: -2;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(70deg);
  position: absolute;
  width: 600px;
  height: 600px;
  filter: brightness(1.3);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: conic-gradient(#05071b,
      var(--bg-lightPurple) 5%,
      #05071b 14%,
      #05071b 50%,
      var(--bg-lightPurple) 60%,
      #05071b 64%);
  transition: all 2s;
}

.starfield {
  max-height: 65px;
  max-width: 405px;
}

.starfield::before {
  content: "";
  z-index: -2;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(82deg);
  position: absolute;
  width: 600px;
  height: 600px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: conic-gradient(rgba(0, 0, 0, 0),
      #1c2452,
      rgba(0, 0, 0, 0) 10%,
      rgba(0, 0, 0, 0) 50%,
      #2a3875,
      rgba(0, 0, 0, 0) 60%);
  transition: all 2s;
}

#search-container:hover>.starfield::before {
  transform: translate(-50%, -50%) rotate(-98deg);
}

#search-container:hover>.nebula::before {
  transform: translate(-50%, -50%) rotate(-120deg);
}

#search-container:hover>.stardust::before {
  transform: translate(-50%, -50%) rotate(-97deg);
}

#search-container:hover>.cosmic-ring::before {
  transform: translate(-50%, -50%) rotate(-110deg);
}

#search-container:focus-within>.starfield::before {
  transform: translate(-50%, -50%) rotate(442deg);
  transition: all 4s;
}

#search-container:focus-within>.nebula::before {
  transform: translate(-50%, -50%) rotate(420deg);
  transition: all 4s;
}

#search-container:focus-within>.stardust::before {
  transform: translate(-50%, -50%) rotate(443deg);
  transition: all 4s;
}

#search-container:focus-within>.cosmic-ring::before {
  transform: translate(-50%, -50%) rotate(430deg);
  transition: all 4s;
}

.nebula {
  overflow: hidden;
  filter: blur(30px);
  opacity: 0.4;
  max-height: 130px;
  max-width: 500px;
}

.nebula:before {
  content: "";
  z-index: -2;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(60deg);
  position: absolute;
  width: 999px;
  height: 999px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: conic-gradient(#000,
      var(--bg-purple) 5%,
      #000 38%,
      #000 50%,
      var(--bg-purple) 60%,
      #000 87%);
  transition: all 2s;
}

#wormhole-icon {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  max-height: 40px;
  max-width: 38px;
  height: 100%;
  width: 100%;
  isolation: isolate;
  overflow: hidden;
  border-radius: 10px;
  background: linear-gradient(180deg, var(--bg-darkBlue), var(--bg-darkGray), var(--bg-darkBlue));
  border: 1px solid transparent;
  cursor: pointer;
}

.wormhole-border {
  height: 42px;
  width: 40px;
  position: absolute;
  overflow: hidden;
  top: 7px;
  right: 7px;
  border-radius: 10px;
}

.wormhole-border::before {
  content: "";
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
  position: absolute;
  width: 600px;
  height: 600px;
  background-repeat: no-repeat;
  background-position: 0 0;
  filter: brightness(1.35);
  background-image: conic-gradient(rgba(0, 0, 0, 0),
      var(--bg-darkGray),
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0) 50%,
      var(--bg-darkGray),
      rgba(0, 0, 0, 0) 100%);
  animation: rotate 4s linear infinite;
}

#main {
  position: relative;
}

#search-icon {
  position: absolute;
  left: 20px;
  top: 15px;
}

@keyframes rotate {
  100% {
    transform: translate(-50%, -50%) rotate(450deg);
  }
}










/*-------------------- Validation css --------------------*/
/*-------------------- Validation css --------------------*/
/*-------------------- Validation css --------------------*/

.form-box {
  transition: 0.6s ease-in-out 1.2s, visibility 0s 1s;
}

.wrapper.active .form-box {
  right: 50%;
}

.form-box.register {
  visibility: hidden;
}

.wrapper.active .form-box.register {
  visibility: visible;
}

.wrapper.active .form-box.login {
  visibility: hidden;
}

.wrapper .form-box.login {
  visibility: visible;
}

.toggle-form::before {
  content: '';
  position: absolute;
  left: -250%;
  width: 300%;
  height: 100%;
  background-color: var(--bg-darkGray);
  border-radius: 150px;
  z-index: 20;
  transition: 1.8s ease-in-out;
  
}

.toggle-panel {
  transition: 0.6s ease-in-out;
}

.wrapper.active .toggle-form::before {
  left: 50%;
}

.toggle-panel.toggle-left {
  right: 0;
  transition: 1.2s;
}

.toggle-panel.toggle-right {
  right: -50%;
  transition: 0.6s;
}

.wrapper.active .toggle-panel.toggle-left {
  left: -50%;
  transition-delay: 0.6s;
}

.wrapper.active .toggle-panel.toggle-right {
  right: 0;
  transition-delay: 1.2s;
}

@media screen and (max-width: 650px) {
  .wrapper {
    height: calc(100% - 40px);
  }
  .form-box {
    width: 100%;
    height: 70%;
    bottom: 0;
  }
  .wrapper.active .form-box {
    right: 0;
    bottom: 30%;
  }
  .toggle-form::before {
    width: 100%;
    height: 300%;
    left: 0;
    top: -270%;
    border-radius: 20vw;
  }
  .wrapper.active .toggle-form::before {
    left: 0;
    top: 70%;

  }
  .toggle-panel {
    width: 100%;
    height: 30%;
  }
  .toggle-panel.toggle-left {
    top: 0;
  }
  .wrapper.active .toggle-panel.toggle-left {
    left: 0;
    top: -30%;
  }
  .toggle-panel.toggle-right {
    right: 0;
    bottom: -30%;
  }
  .wrapper.active .toggle-panel.toggle-right {
    bottom: 0;
  }
}




/*-------------------- button login css --------------------*/
/*-------------------- button login css --------------------*/
/*-------------------- button login css --------------------*/

/* From Uiverse.io by ilkhoeri */ 
.button {
    --round: 0.75rem;
    cursor: pointer;
    position: relative;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.25s ease;
    background: radial-gradient(
        65.28% 65.28% at 50% 100%,
        rgba(223, 113, 255, 0.8) 0%,
        rgba(223, 113, 255, 0) 100%
      ),
      linear-gradient(0deg, #7a5af8, #7a5af8);
    border-radius: var(--round);
    border: none;
    outline: none;
    padding: 12px 18px;
}

.button:active {
  transform: scale(0.95);
}

.fold {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  height: 1rem;
  width: 1rem;
  display: inline-block;
  transition: all 0.5s ease-in-out;
  background: radial-gradient(
    100% 75% at 55%,
    var(--bg-lightPurple) 0%,
    rgba(223, 113, 255, 0) 100%
  );
  box-shadow: 0 0 3px black;
  border-bottom-left-radius: 0.5rem;
  border-top-right-radius: var(--round);
}
.fold::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 150%;
  height: 150%;
  transform: rotate(45deg) translateX(0%) translateY(-18px);
  background-color: #e8e8e8;
  pointer-events: none;
}
.button:hover .fold {
  margin-top: -1rem;
  margin-right: -1rem;
}

.points_wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
  pointer-events: none;
  position: absolute;
  z-index: 1;
}

.points_wrapper .point {
  bottom: -10px;
  position: absolute;
  animation: floating-points infinite ease-in-out;
  pointer-events: none;
  width: 2px;
  height: 2px;
  background-color: #fff;
  border-radius: 9999px;
}
@keyframes floating-points {
  0% {
    transform: translateY(0);
  }
  85% {
    opacity: 0;
  }
  100% {
    transform: translateY(-55px);
    opacity: 0;
  }
}
.points_wrapper .point:nth-child(1) {
  left: 10%;
  opacity: 1;
  animation-duration: 2.35s;
  animation-delay: 0.2s;
}
.points_wrapper .point:nth-child(2) {
  left: 30%;
  opacity: 0.7;
  animation-duration: 2.5s;
  animation-delay: 0.5s;
}
.points_wrapper .point:nth-child(3) {
  left: 25%;
  opacity: 0.8;
  animation-duration: 2.2s;
  animation-delay: 0.1s;
}
.points_wrapper .point:nth-child(4) {
  left: 44%;
  opacity: 0.6;
  animation-duration: 2.05s;
}
.points_wrapper .point:nth-child(5) {
  left: 50%;
  opacity: 1;
  animation-duration: 1.9s;
}
.points_wrapper .point:nth-child(6) {
  left: 75%;
  opacity: 0.5;
  animation-duration: 1.5s;
  animation-delay: 1.5s;
}
.points_wrapper .point:nth-child(7) {
  left: 88%;
  opacity: 0.9;
  animation-duration: 2.2s;
  animation-delay: 0.2s;
}
.points_wrapper .point:nth-child(8) {
  left: 58%;
  opacity: 0.8;
  animation-duration: 2.25s;
  animation-delay: 0.2s;
}
.points_wrapper .point:nth-child(9) {
  left: 98%;
  opacity: 0.6;
  animation-duration: 2.6s;
  animation-delay: 0.1s;
}
.points_wrapper .point:nth-child(10) {
  left: 65%;
  opacity: 1;
  animation-duration: 2.5s;
  animation-delay: 0.2s;
}

.inner {
  z-index: 2;
  gap: 6px;
  position: relative;
  width: 100%;
  color: white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  transition: color 0.2s ease-in-out;
}

.inner svg.icon {
  width: 18px;
  height: 18px;
  transition: fill 0.1s linear;
}

.button:focus svg.icon {
  fill: white;
}
.button:hover svg.icon {
  fill: transparent;
  animation:
    dasharray 1s linear forwards,
    filled 0.1s linear forwards 0.95s;
}
@keyframes dasharray {
  from {
    stroke-dasharray: 0 0 0 0;
  }
  to {
    stroke-dasharray: 68 68 0 0;
  }
}
@keyframes filled {
  to {
    fill: white;
  }
}



/*-------------------- LOGO css --------------------*/
/*-------------------- LOGO css --------------------*/
/*-------------------- LOGO css --------------------*/

.bg-logo {
  position: relative;
  color: var(--cl-lightPurple);
  cursor: pointer;
  height: 56px;
  padding: 0.25rem 1.25rem;
  border: 0.15rem solid var(--cl-lightPurple);
  border-radius: 0.45rem;
  background: none;
  perspective: 2rem;
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: 0.25rem;
  box-shadow: inset 0 0 0.5em 0 var(--cl-lightPurple),
  0 0 1rem 0 var(--cl-lightPurple);
  animation: bg-logo 2s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  float: left;
  margin-right: -0.8rem;
  text-shadow: 0 0 0.125rem hsl(0 0% 100% / 0.3), 
  0 0 0.45rem var(--cl-lightPurple);
  animation: lamp-logo 3s linear infinite;
}

.logo span {
  opacity: 0.5;
  animation: letter-lamp 2s linear infinite;
}

.bg-logo::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  z-index: -1;
  background: radial-gradient(
        65.28% 65.28% at 50% 100%,
        rgba(223, 113, 255, 0.8) 0%,
        rgba(223, 113, 255, 0) 100%
      ),
      linear-gradient(0deg, #7a5af8, #7a5af8);
  box-shadow: 0 0 2rem 0.2rem #7a5af8;
  transition: opacity 100ms linear;
  border-radius: 0.45rem;
}

.bg-logo:hover {
  color: rgba(0, 0, 0, 0.8);
  text-shadow: none;
  animation: none;
  border-color: #7a5af8;
}

.bg-logo:hover .logo {
  animation: none;
  text-shadow: none;
  opacity: 1;
}

.bg-logo:hover:after {
  opacity: 1;
}

@keyframes letter-lamp {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 0.1;
  }
  4% {
    opacity: 0.5;
  }
  19% {
    opacity: 0.5;
  }
  21% {
    opacity: 0.1;
  }
  23% {
    opacity: 1;
  }
  80% {
    opacity: 0.5;
  }
  83% {
    opacity: 0.4;
  }
  87% {
    opacity: 1;
  }
}

/* @keyframes lamp-logo {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 1;
  }
  8% {
    opacity: 0.1;
  }
  9% {
    opacity: 1;
  }
  12% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0.3;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 0.7;
  }
  72% {
    opacity: 0.2;
  }
  77% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.9;
  }
} */

@keyframes bg-logo {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 1;
  }
  4% {
    opacity: 0.1;
  }
  8% {
    opacity: 1;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

.bg-logo:hover .logo span {
  animation: none;
  text-shadow: none;
  opacity: 1;
}

.logo span.burnt {
  opacity: 0.3;
  animation: none;
}





/*-------------------- Modal css --------------------*/
/*-------------------- Modal css --------------------*/
/*-------------------- Modal css --------------------*/


.radio-input .label {
  background: linear-gradient(to bottom, #333333, rgb(36, 35, 35));
  transition: all 0.1s linear;
  border-top: 1px solid #4e4d4d;
  background-color: #333333;
}

.label:has(input[type="radio"]:checked) {
  box-shadow: 0px 17px 5px 1px rgba(0, 0, 0, 0);
  background: linear-gradient(to bottom, #1d1d1d, #1d1d1d);
  border-top: none;
}

.label:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.label:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 103%;
  height: 100%;
  border-radius: 10px;
  background: linear-gradient(
    to bottom,
    transparent 10%,
    transparent,
    transparent 90%
  );
  transition: all 0.1s linear;
  z-index: -1;
}

.label:has(input[type="radio"]:checked)::before {
  background: linear-gradient(
    to bottom,
    transparent 10%,
    #cae2fd63,
    transparent 90%
  );
}

.label .text {
  color: black;
  font-size: 15px;
  line-height: 12px;
  padding: 0px;
  font-weight: 800;
  transition: all 0.1s linear;
  text-shadow:
    -1px -1px 1px rgb(224, 224, 224, 0.1),
    0px 2px 3px rgb(0, 0, 0, 0.3);
}

.label input[type="radio"]:checked + .text {
  color: rgb(202, 226, 253);
  text-shadow: 0px 0px 12px #cae2fd;
}



/*-------------------- btn download link --------------------*/
/*-------------------- btn download link --------------------*/
/*-------------------- btn download link --------------------*/

/* From Uiverse.io by jamik-dev */ 
.Download-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 17px;
  padding: 12px 20px;
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em rgba(59, 48, 78, 0.527);
  letter-spacing: 0.05em;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
  transition: all 0.2s;
}

.Download-button:hover {
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.Download-button::before {
  content: "";
  width: 4px;
  height: 40%;
  background-color: white;
  position: absolute;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  left: 0;
  transition: all 0.2s;
}

.Download-button::after {
  content: "";
  width: 4px;
  height: 40%;
  background-color: white;
  position: absolute;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  right: 0;
  transition: all 0.2s;
}

.Download-button:hover::before,
.Download-button:hover::after {
  height: 60%;
}

.Download-button:hover::before {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  transform: translate(5px, -15px) rotate(45deg);
}

.Download-button:hover::after {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  transform: translate(-5px, 15px) rotate(45deg);
}



/* styles/globals.css or your specific CSS module */
/* styles/globals.css or your specific CSS module */
/* styles/globals.css or your specific CSS module */

.fixed {
  position: fixed;
}

.inset-0 {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.bg-black {
  background-color: black;
}

.bg-opacity-75 {
  opacity: 0.75;
}

.z-50 {
  z-index: 50;
}

/*-------------------- subject-text --------------------*/
/*-------------------- subject-text --------------------*/
/*-------------------- subject-text --------------------*/

.subject-text h1 {
  font-weight: 600;
  text-shadow: 0 0 10px var(--bg-lightPurple),
  0 0 40px var(--bg-lightPurple);
}

/*-------------------- loding --------------------*/
/*-------------------- loding --------------------*/
/*-------------------- loding --------------------*/

/* From Uiverse.io by Pradeepsaranbishnoi */ 
.hand {
  --skin-color: #ffe99f;
  --tap-speed: 0.6s;
  --tap-stagger: 0.1s;
  position: relative;
  width: 80px;
  height: 60px;
  margin-left: 80px;
}
.hand:nth-child(1) {
    transform: rotateY(180deg);
    margin: 0 6rem;
}
.hand:nth-child(2) {
  margin: 0 6rem;
}
.hand:before {
  content: '';
  display: block;
  width: 180%;
  height: 75%;
  position: absolute;
  top: 70%;
  right: 20%;
  background-color: black;
  border-radius: 40px 10px;
  filter: blur(10px);
  opacity: 0.3;
}

.palm {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--skin-color);
  border-radius: 10px 40px;
}

.thumb {
  position: absolute;
  width: 120%;
  height: 38px;
  background-color: var(--skin-color);
  bottom: -18%;
  right: 1%;
  transform-origin: calc(100% - 20px) 20px;
  transform: rotate(-20deg);
  border-radius: 30px 20px 20px 10px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  border-left: 2px solid rgba(0, 0, 0, 0.1);
}

.thumb:after {
  width: 20%;
  height: 60%;
  content: '';
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  bottom: 5%;
  left: 5px;
  border-radius: 60% 10% 10% 30%;
  border-right: 2px solid rgba(0, 0, 0, 0.05);
}

.finger {
  position: absolute;
  width: 80%;
  height: 35px;
  background-color: var(--skin-color);
  bottom: 32%;
  right: 64%;
  transform-origin: 100% 20px;
  animation-duration: calc(var(--tap-speed) * 2);
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  transform: rotate(10deg);
}

.finger:before {
  content: '';
  position: absolute;
  width: 140%;
  height: 30px;
  background-color: var(--skin-color);
  bottom: 8%;
  right: 65%;
  transform-origin: calc(100% - 20px) 20px;
  transform: rotate(-60deg);
  border-radius: 20px;
}

.finger:nth-child(1) {
  animation-delay: 0;
  filter: brightness(70%);
  animation-name: tap-upper-1;
}

.finger:nth-child(2) {
  animation-delay: var(--tap-stagger);
  filter: brightness(80%);
  animation-name: tap-upper-2;
}

.finger:nth-child(3) {
  animation-delay: calc(var(--tap-stagger) * 2);
  filter: brightness(90%);
  animation-name: tap-upper-3;
}

.finger:nth-child(4) {
  animation-delay: calc(var(--tap-stagger) * 3);
  filter: brightness(100%);
  animation-name: tap-upper-4;
}

@keyframes tap-upper-1 {
  0%, 50%, 100% {
    transform: rotate(10deg) scale(0.4);
  }

  40% {
    transform: rotate(50deg) scale(0.4);
  }
}

@keyframes tap-upper-2 {
  0%, 50%, 100% {
    transform: rotate(10deg) scale(0.6);
  }

  40% {
    transform: rotate(50deg) scale(0.6);
  }
}

@keyframes tap-upper-3 {
  0%, 50%, 100% {
    transform: rotate(10deg) scale(0.8);
  }

  40% {
    transform: rotate(50deg) scale(0.8);
  }
}

@keyframes tap-upper-4 {
  0%, 50%, 100% {
    transform: rotate(10deg) scale(1);
  }

  40% {
    transform: rotate(50deg) scale(1);
  }
}